@font-face {
    font-family: 'Courier';
    src: url('./../assets/fonts/Courier New Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Extrabold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Heavy.otf');
    font-weight: 900;
}

$pink: #e42ba5;
$dark-pink: #c50f7a;
$dark-gray: #2f2f2f;
$extra-dark-gray: #232323;

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.page {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 1;
    grid-template-areas: "navigation info content socials";
    height: 100vh;
    background:#1a1a1a url('./../assets/bg.jpg');
    background-size: cover;
}

.navigation {
    grid-area: navigation;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info;
    border-left: 1px solid #2b2b2b;

    &__decorator {
        color: $dark-pink;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;
    }

    &__title {
        margin-top: 3vh;
        color: white;
        font-size: 4vw;
        letter-spacing: .3vw;
    }

    &__action {
        $left-margin: 5vw;
        $line-width: 3vw;

        position: relative;
        margin-top: 7vh;
        margin-left: $left-margin;
        color: white;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -$left-margin;
            width: $line-width;
            height: 2px;
            background-color: white;
        }
    }
}

.content {
    position: relative;
    display: flex;
    align-items: flex-end;
    grid-area: content;
    background: #131313 radial-gradient(circle at 100% 0%, rgba($color: $pink, $alpha: .07) 0%, transparent 80%);
    overflow: hidden;

    &__phone {
        position: absolute;
        &:nth-child(1) {
            top: 5vh;
            left: 5vh;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/Iphone 1.png') no-repeat center center;
            background-size: contain;
        }
        &:nth-child(2) {
            top: 45%;
            right: 0;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/Iphone 2.png') no-repeat center center;
            background-size: contain;
            transform: translate(20%, -50%);
        }
    }

    &__text {
        margin: 0 2.5vw 10vh;
        color: white;
        font-family: Gilroy;
        font-size: 4vw;
        text-transform: uppercase;
    }
}

.socials {
    grid-area: socials;
}
