@font-face {
    font-family: 'Courier';
    src: url('./../assets/fonts/Courier New Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Extrabold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Heavy.otf');
    font-weight: 900;
}

$pink: #e42ba5;
$dark-pink: #c50f7a;
$dark-gray: #2f2f2f;
$extra-dark-gray: #232323;

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.page {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 1;
    grid-template-areas: "navigation info content socials";
    height: 100vh;
    background:#1a1a1a url('./../assets/images/bg.jpg');
    background-size: cover;

    @media(orientation: portrait) {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "info" "content";
    }
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    grid-area: navigation;

    @media(orientation: portrait) {
        position: absolute;
        width: 100%;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background-color: $pink;
        color: white;
        font-size: 18px;
        letter-spacing: 7px;
        line-height: 25px;

        @media(orientation: portrait) {
            position: absolute;
            top: 0;
            left: 40px;
            width: 46px;
            height: 46px;
            font-size: 12px;
            line-height: 1;
        }
    }

    &__menu-icon {
        display: none;
    
        @media(orientation: portrait) {
            position: absolute;
            top: 10px;
            right: 20px;
            display: block;
            width: 15px;
            height: 11px;
            padding: 10px;
            font-size: 12px;
            line-height: 1;
            background: url('./../assets/images/menu.svg') no-repeat center center;
            background-size: 20px 20px;
        }
    }

    &__pagination {
        display: none;
        z-index: 10;

        .pagination__item {
            position: relative;
            width: 12px;
            height: 12px;
            margin-top: 15px;
            
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background: #3d3d3d;
            }

            &_active {
                &::after {
                    background: #c42fa1;
                }
            }
        }
    
        @media(orientation: portrait) {
            position: absolute;
            top: 125px;
            right: 30px;
            display: flex;
            flex-direction: column;
        }
    }
}

.menu {
    margin-top: 6vh;
    margin-left: 6vw;

    @media(orientation: portrait) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        background: rgba($color: #141414, $alpha: .95);
        z-index: -1;
        opacity: 0;
        transition: opacity .4s ease;
    }

    &__close-icon {
        width: 20px;
        height: 20px;
        background: url('./../assets/images/x.svg') no-repeat center center;
        background-size: contain;
    }

    &__close-button {
        display: none;

        @media(orientation: portrait) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-bottom: 40px;
            background: #c42fa1;
            border-radius: 50%;
        }
    
    }

    &__item {
        cursor: pointer;
        &:hover {
            .menu__link {
                opacity: .7;
            }
        }
        &_active {
            .menu__link {
                opacity: 1;
            }
        }
        @media(orientation: portrait) {
            position: relative;
            .menu__link {
                opacity: 1 !important;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -5px;
                right: -5px;
                height: 5px;
                transform: translate(0, -50%) scaleX(0);
                transition: transform .1s ease;
                background: #c42fa1;
            }
            &_active {
                &::after {
                    transform: translate(0, -50%) scaleX(1);
                }
            }
        }
    }
    &__link {
        color: white;
        font-size: 18px;
        line-height: 3.5;
        text-transform: uppercase;
        text-decoration: none;
        opacity: .3;
        transition: opacity .2s ease;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info;
    border-left: 1px solid #2b2b2b;
    overflow: hidden;

    @media(orientation: portrait) {
        margin-left: 40px;
        border-left: none;
    }

    &__decorator {
        color: $dark-pink;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;

        @media(orientation: portrait) {
            font-size: 14px;
        }
    }

    &__title {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 3vh;
        color: white;
        font-size: 4vw;
        letter-spacing: .3vw;
        transform: translateX(100%);

        @media(orientation: portrait) {
            font-size: 5vh;
        }

        .info-title {
            flex-shrink: 0;
            width: 100%;
        }
    }

    &__action {
        $left-margin: 5vw;
        $line-width: 3vw;

        position: relative;
        margin-top: 7vh;
        margin-left: $left-margin;
        color: white;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;

        @media(orientation: portrait) {
            margin-left: 0;
            padding-left: 4vh;
            font-size: 14px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -$left-margin;
            width: $line-width;
            height: 2px;
            background-color: white;

            @media(orientation: portrait) {
                left: 0;
                width: 3vh;
            }
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    grid-area: content;
    transition: top .5s ease-in-out;

    &:not(:first-child) {
        top: 100%;
    }
}
#home-content {
    display: flex;
    align-items: flex-end;
    background: #131313 radial-gradient(circle at 100% 0%, rgba($color: $pink, $alpha: .07) 0%, transparent 80%);

    .content-block__phone {
        position: absolute;
        &:nth-child(1) {
            top: 5vh;
            left: 5vh;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/images/Iphone 1.png') no-repeat center center;
            background-size: contain;

            @media(orientation: portrait) {
                top: 0;
                left: auto;
                right: 0;
                width: 25vh;
                height: 30vh;
                transform: translate(20%, -25%);
            }
        }
        &:nth-child(2) {
            top: 45%;
            right: 0;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/images/Iphone 2.png') no-repeat center center;
            background-size: contain;
            transform: translate(20%, -50%);

            @media(orientation: portrait) {
                top: auto;
                bottom: 0;
                width: 20vh;
                height: 25vh;
                transform: translate(0, 40%);
            }
        }
    }

    .content-block__text {
        width: 100%;
        height: 13vw;
        margin: 0 2.5vw 5vw;
        color: white;
        font-family: Gilroy;
        font-size: 4vw;
        text-transform: uppercase;

        @media(orientation: portrait) {
            height: 28vh;
            margin-left: 40px;
            margin-bottom: 60px;
            font-size: 6vh;
        }
    }
}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./../assets/images/content-bg.jpg') no-repeat center center;
    background-size: cover;

    .experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 50px;
        border-bottom: 1px solid rgba($color: #3b3b3b, $alpha: .2);
        font-size: 18px;

        @media(max-width: 1200px) {
            padding: 40px 30px;
            font-size: 16px;
        }

        &__title {
            margin-bottom: 30px;
            color: #e42ba5;
            font-family: Gilroy;
            font-weight: 800;
            letter-spacing: 3.6px;
            text-transform: uppercase;

            @media(max-width: 1200px) {
                margin-bottom: 15px;
            }
        }

        &__item {
            margin-bottom: 10px;
        }

        &__text {
            color: white;
            font-family: Courier, monospace;
            line-height: 1.5;

            &_gray {
                margin-top: 5px;
                color: #323232;
            }

            @media(max-width: 1200px) {
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
}

#portfolio-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: url('./../assets/images/content-bg-reverse.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 75px 80px 0 80px;

        @media(max-width: 1200px) {
            padding: 40px 30px 0 30px;
        }

        @media(orientation: portrait) {
            position: absolute;
            top: 50px;
            right: 40px;
            padding: 0;
            flex-direction: column;
            align-items: flex-end;
            z-index: 10;
        }

        &__pages {
            position: relative;
            padding-left: 50px;
            color: white;
            font-family: 'Courier', monospace;
            font-size: 18px;
            font-weight: 700;

            @media(orientation: portrait) {
                font-size: 14px;
            }

            &::before {
               content: '';
               position: absolute;
               top: 49%;
               left: 0;
               width: 35px;
               height: 2px;
               background: white;
               @media(orientation: portrait) {
                   display: none;
               }
            }
        }
        .page-number {
            color: #323232;
            &_active {
                color: white;
            }
        }

        .header-controls {
            display: flex;
            justify-content: center;
            align-items: center;

            &__arrow {
                padding: 10px;
                width: 15px;
                height: 25px;
                background: none;
                border: none;
                outline: none;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 1;
                cursor: pointer;

                &_disabled {
                    opacity: .3;
                    cursor: default;
                }
            }

            #prev-btn {
                background-image: url('./../assets/images/chevron-left.svg');
            }

            #next-btn {
                margin-left: 10px;
                background-image: url('./../assets/images/chevron-right.svg');
            }
        }
    }

    .content-slider {
        flex-grow: 1;
        display: flex;
        width: 100%;
    }

    .slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;

        @media(orientation: portrait) {
            
        }

        &__title {
            font-size: 45px;
            margin: 120px 50px 0 50px;
            width: 100%;
            svg {
                width: calc(100% - 80px);
            }

            @media(max-width: 1200px) {
                font-size: 30px;
                margin: 80px 30px 0 30px;
            }

            @media(orientation: portrait) {
                font-size: 4vh;
                margin: 40px 40px 0 40px;
                height: 10vh;
            }
        }

        &__description {
            margin-top: 75px;
            padding: 0 80px;
            color: white;
            font-family: 'Courier', monospace;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;

            @media(max-width: 1200px) {
                margin-top: 20px;
                padding: 0 30px;
                font-size: 16px;
            }

            @media(orientation: portrait) {
                padding: 0 40px;
                font-size: 14px;
                margin-top: 30px;
            }
        }

        &__preview {
            position: absolute;
            bottom: 50px;
            left: 20%;
            width: 100%;
            height: 250px;
            background: url('./../assets/images/Macbook1.png') no-repeat center center;
            background-size: contain;

            @media(orientation: portrait) {
                bottom: 0;
                left: 50%;
                width: 80%;
                transform: translate(-50%, 30%);
            }
        }
    }

    #urban {
        .slide__preview {
            background: url('./../assets/images/urban-preview.png') no-repeat center center;
            background-size: contain;
        }
    }

    
    #smass {
        .slide__preview {
            background: url('./../assets/images/smass-preview.png') no-repeat center center;
            background-size: contain;
        }
    }

    
    #krist {
        .slide__preview {
            background: url('./../assets/images/krist-preview.png') no-repeat center center;
            background-size: contain;
        }
    }
}

#contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    .contacts-form {
        padding: 75px 80px;
        height: 70%;
        background: rgba(19,19,19,.3);
        border-bottom: 1px solid rgba($color: #3b3b3b, $alpha: .2);

        @media(max-width: 1200px) {
            padding: 40px 30px;
        }
        
        &__title {
            width: 177px;
            color: white;
            font-family: 'Gilroy';
            font-size: 18px;
            font-weight: 800;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 3.6px;
        }

        .form {
            margin-top: 30px;

            @media(orientation: portrait) {
                display: none;
            }

            &__input {
                position: relative;
                width: 100%;
                margin-top: 15px;
                background: transparent;
                border: none;
                border-bottom: 1px solid white;
                color: white;
                font-family: 'Courier';
                font-size: 18px;
                font-weight: 700;
                line-height: 2;
                outline: none;

                &:focus {
                    border-bottom: 2px solid #e42ba5;
                }
            }

            textarea.form__input {
                width: 100%;
            }

            &__button {
                position: relative;
                margin-top: 30px;
                padding-left: 45px;
                background: none;
                color: white;
                border: none;
                font-family: 'Courier';
                font-size: 18px;
                font-weight: 700;
                outline: none;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 0;
                    height: 2px;
                    width: 35px;
                    background: white;
                }
            }
        }
    }

    .contacts-data {
        height: 30%;
        padding: 75px 80px;
        color: white;
        background: url('./../assets/images/content-bg.jpg') no-repeat center center;
        background-size: cover;
        font-family: 'Courier', monospace;
        font-size: 18px;
        font-weight: 800;

        @media(max-width: 1200px) {
            padding: 40px 30px;
            font-size: 14px;
        }
        
        &__title {
            color: #e42ba5;
            font-family: Gilroy;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3.6px;
        }

        &__email {
            margin-top: 45px;
            a {
                padding-left: 7px;
                color: white;
            }
        }
        
        &__skype {
            margin-top: 7px;
            a {
                padding-left: 7px;
                color: white;         
            }
        }

        &__location {
            margin-top: 20px;
            color: #323232;
        }
    }
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10vh 5vw;
    grid-area: socials;

    @media(orientation: portrait) {
        position: absolute;
        flex-direction: row;
        bottom: 50px;
        left: 40px;
        padding: 0;

    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vh;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $extra-dark-gray;
        transition: background-color .2s ease;
        cursor: pointer;
        &:hover {
            background-color: $pink;
        }

        @media(orientation: portrait) {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
}

.social-icon {
    &_vk {
        width: 20px;
        height: 18px;
        background: url('./../assets/images/vk.svg') no-repeat center center;
        background-size: contain;
        @media(orientation: portrait) {
            width: 15px;
        }
    }
    &_in {
        width: 19px;
        height: 19px;
        background: url('./../assets/images/in.svg') no-repeat center center;
        background-size: contain;
        @media(orientation: portrait) {
            width: 15px;
        }
    }
    &_git {
        width: 20px;
        height: 20px;
        background: url('./../assets/images/git.svg') no-repeat center center;
        background-size: contain;
        @media(orientation: portrait) {
            width: 15px;
        }
    }
    &_inst {
        width: 18px;
        height: 18px;
        background: url('./../assets/images/inst.svg') no-repeat center center;
        background-size: contain;
        @media(orientation: portrait) {
            width: 15px;
        }
    }
}
