@font-face {
    font-family: 'Courier';
    src: url('./../assets/fonts/Courier New Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Extrabold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/Gilroy-Heavy.otf');
    font-weight: 900;
}

$pink: #e42ba5;
$dark-pink: #c50f7a;
$dark-gray: #2f2f2f;
$extra-dark-gray: #232323;

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.page {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 1;
    grid-template-areas: "navigation info content socials";
    height: 100vh;
    background:#1a1a1a url('./../assets/bg.jpg');
    background-size: cover;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    grid-area: navigation;

    &__logo {
        position: absolute;
        top: 0;
        left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background-color: $pink;
        color: white;
        font-size: 18px;
        letter-spacing: 7px;
        line-height: 25px;
    }
}

.menu {
    margin-top: 6vh;
    margin-left: 6vw;
    &__item {
        cursor: pointer;
        &:hover {
            .menu__link {
                opacity: .7;
            }
        }
        &_active {
            .menu__link {
                opacity: 1;
            }
        }
    }
    &__link {
        color: white;
        font-size: 18px;
        line-height: 3.5;
        text-transform: uppercase;
        text-decoration: none;
        opacity: .3;
        transition: opacity .2s ease;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info;
    border-left: 1px solid #2b2b2b;
    overflow: hidden;

    &__decorator {
        color: $dark-pink;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;
    }

    &__title {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 3vh;
        color: white;
        font-size: 4vw;
        letter-spacing: .3vw;
        transform: translateX(100%);

        .info-title {
            flex-shrink: 0;
            width: 100%;
        }
    }

    &__action {
        $left-margin: 5vw;
        $line-width: 3vw;

        position: relative;
        margin-top: 7vh;
        margin-left: $left-margin;
        color: white;
        font-family: 'Courier';
        font-size: 18px;
        font-weight: 700;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -$left-margin;
            width: $line-width;
            height: 2px;
            background-color: white;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    grid-area: content;
    transition: top .5s ease-in-out;

    &:not(:first-child) {
        top: 100%;
    }
}
#home-content {
    display: flex;
    align-items: flex-end;
    background: #131313 radial-gradient(circle at 100% 0%, rgba($color: $pink, $alpha: .07) 0%, transparent 80%);

    .content-block__phone {
        position: absolute;
        &:nth-child(1) {
            top: 5vh;
            left: 5vh;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/Iphone 1.png') no-repeat center center;
            background-size: contain;
        }
        &:nth-child(2) {
            top: 45%;
            right: 0;
            width: 15vw;
            height: 20vw;
            background: url('./../assets/Iphone 2.png') no-repeat center center;
            background-size: contain;
            transform: translate(20%, -50%);
        }
    }

    .content-block__text {
        margin: 0 2.5vw 5vw;
        color: white;
        font-family: Gilroy;
        font-size: 4vw;
        text-transform: uppercase;
    }
}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./../assets/content-bg.jpg') no-repeat center center;
    background-size: cover;

    .experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 50px;
        border-bottom: 1px solid rgba($color: #3b3b3b, $alpha: .2);
        font-size: 18px;

        &__title {
            margin-bottom: 30px;
            color: #e42ba5;
            font-family: Gilroy;
            font-weight: 800;
            letter-spacing: 3.6px;
            text-transform: uppercase;
        }

        &__item {
            margin-bottom: 10px;
        }

        &__text {
            color: white;
            font-family: Courier, monospace;
            line-height: 1.5;

            &_gray {
                color: #323232;
            }
        }
    }
}

#portfolio-content {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('./../assets/content-bg.jpg') no-repeat center center;
        background-size: cover;
        transform: rotate(180deg);
    }
}

#contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    .contacts-form {
        height: 60%;
        background: rgba(19,19,19,.3);
        border-bottom: 1px solid rgba($color: #3b3b3b, $alpha: .2);
    }

    .contacts-data {
        height: 40%;
        background: url('./../assets/content-bg.jpg') no-repeat center center;
        background-size: cover;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10vh 5vw;
    grid-area: socials;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vh;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $extra-dark-gray;
        transition: background-color .2s ease;
        cursor: pointer;
        &:hover {
            background-color: $pink;
        }
    }
}

.social-icon {
    &_vk {
        width: 20px;
        height: 18px;
        background: url('./../assets/vk.svg') no-repeat center center;
        background-size: contain;
    }
    &_in {
        width: 19px;
        height: 19px;
        background: url('./../assets/in.svg') no-repeat center center;
        background-size: contain;
    }
    &_git {
        width: 20px;
        height: 20px;
        background: url('./../assets/git.svg') no-repeat center center;
        background-size: contain;
    }
    &_inst {
        width: 18px;
        height: 18px;
        background: url('./../assets/inst.svg') no-repeat center center;
        background-size: contain;
    }
}
